In [1]:
import pandas as pd
import numpy as np

In [2]:
pd.read_csv("/storage/ydong/data/gtexRNA/gencode.v26.GRCh38.genes.gtf",sep = "\t", nrows = 5)

  ##description: evidence-based annotation of the human genome (GRCh38), version 26 (Ensembl 88)
0                                ##provider: GENCODE
1               ##contact: gencode-help@sanger.ac.uk
2                                      ##format: gtf
3                                 ##date: 2017-03-14
4        ##collapsed version generated by GTEx LDACC

In [3]:
df = pd.read_csv("/storage/ydong/data/gtexRNA/gencode.v26.GRCh38.genes.gtf",sep = "\t", skiprows = 5)

In [4]:
df

                                                 ##collapsed version generated by GTEx LDACC
chr1 HAVANA  gene       11869 14403 . + .  gene_id "ENSG00000223972.5"; transcript_id "EN...
             transcript 11869 14403 . + .  gene_id "ENSG00000223972.5"; transcript_id "EN...
             exon       11869 12227 . + .  gene_id "ENSG00000223972.5"; transcript_id "EN...
                        12613 12721 . + .  gene_id "ENSG00000223972.5"; transcript_id "EN...
                        12975 13052 . + .  gene_id "ENSG00000223972.5"; transcript_id "EN...
...                                                                                      ...
chrM ENSEMBL transcript 15888 15953 . + .  gene_id "ENSG00000210195.2"; transcript_id "EN...
             exon       15888 15953 . + .  gene_id "ENSG00000210195.2"; transcript_id "EN...
             gene       15956 16023 . - .  gene_id "ENSG00000210196.2"; transcript_id "EN...
             transcript 15956 16023 . - .  gene_id "ENSG00000210196.2"; transcript_id "EN...
             exon       15956 16023 . - .  gene_id "ENSG00000210196.2"; transcript_id "EN...

[441071 rows x 1 columns]

In [16]:
#extract exon annotation only
idx = pd.IndexSlice
df = df.loc[idx[:,:,"exon"],:]

In [17]:
df

                                           ##collapsed version generated by GTEx LDACC
chr1 HAVANA  exon 11869 12227 . + .  gene_id "ENSG00000223972.5"; transcript_id "EN...
                  12613 12721 . + .  gene_id "ENSG00000223972.5"; transcript_id "EN...
                  12975 13052 . + .  gene_id "ENSG00000223972.5"; transcript_id "EN...
                  13221 14403 . + .  gene_id "ENSG00000223972.5"; transcript_id "EN...
                  29534 29553 . - .  gene_id "ENSG00000227232.5"; transcript_id "EN...
...                                                                                ...
chrM ENSEMBL exon 14149 14673 . - .  gene_id "ENSG00000198695.2"; transcript_id "EN...
                  14674 14742 . - .  gene_id "ENSG00000210194.1"; transcript_id "EN...
                  14747 15887 . + .  gene_id "ENSG00000198727.2"; transcript_id "EN...
                  15888 15953 . + .  gene_id "ENSG00000210195.2"; transcript_id "EN...
                  15956 16023 . - .  gene_id "ENSG00000210196.2"; transcript_id "EN...

[328671 rows x 1 columns]

In [19]:
# chromosome number
chromNum = list(df.index.get_level_values(0))
# transform from "chrX" to "X"
for i in range(len(chromNum)):
    chromNum[i] = chromNum[i].split("chr")[-1]
    
# start position
start = list(df.index.get_level_values(3))
# end position
end = list(df.index.get_level_values(4))
# forward/reverse strand
strand = list(df.index.get_level_values(6))

#extract exonID from the values
exonID = list(df.values)
for i in range(len(exonID)):
    curr = exonID[i][0]
    curr = curr.strip().split(";")[-3].split("\"")[1]
    exonID[i] = curr

In [21]:
df = pd.DataFrame (list(zip(exonID,chromNum,start,end,strand)),columns= ["probe.id","probe.chr","probe.start","probe.stop","probe.strand"])
df["gene.id"] = df["probe.id"].apply(lambda x:x.split("_")[0])
df

,probe.id,probe.chr,probe.start,probe.stop,probe.strand,gene.id
0,ENSG00000223972.5_1,1,11869,12227,+,ENSG00000223972.5
1,ENSG00000223972.5_2,1,12613,12721,+,ENSG00000223972.5
2,ENSG00000223972.5_3,1,12975,13052,+,ENSG00000223972.5
3,ENSG00000223972.5_4,1,13221,14403,+,ENSG00000223972.5
4,ENSG00000227232.5_1,1,29534,29553,-,ENSG00000227232.5
...,...,...,...,...,...,...
328666,ENSG00000198695.2_1,M,14149,14673,-,ENSG00000198695.2
328667,ENSG00000210194.1_1,M,14674,14742,-,ENSG00000210194.1
328668,ENSG00000198727.2_1,M,14747,15887,+,ENSG00000198727.2
328669,ENSG00000210195.2_1,M,15888,15953,+,ENSG00000210195.2
328670,ENSG00000210196.2_1,M,15956,16023,-,ENSG00000210196.2

In [22]:
df.to_csv("/storage/ydong/data/gtexRNA/gencode_gene_annotations_GRCh38.csv")